/**
 * Component: Layout
 * -------------------------------------------------------------------------- */

:root {
  .page-container {
    width: min(100vw - 64px, 1024px);
    min-height: calc(100vh - 64px - 89px);
    margin: 0 auto;
    padding-block: 20px;
  }

  /* Mobile */
  @media (max-width: 426px) {
    .page-container {
      width: calc(100vw - 40px);
    }
  }
}

/**
 * Component: rounded triangle
 * -------------------------------------------------------------------------- */

.rounded-triangle {
  border-radius: 70% 30% 30% 70% / 30% 30% 70% 70%;
  animation: edge 4s both infinite;
}

/**
 * Animation View Transition
 * -------------------------------------------------------------------------- */

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
  z-index: 1;
}

::view-transition-new(root),
.dark::view-transition-old(root) {
  z-index: 9999;
}

/**
 * Animation Easing
 * -------------------------------------------------------------------------- */

:root {
  --a-easing-out-quart: cubic-bezier(0.76, 0, 0.24, 1);
}

/**
 * Animation: edge
 * -------------------------------------------------------------------------- */

@keyframes edge {
  0% {
    border-radius: 70% 30% 30% 70% / 30% 30% 70% 70%;
  }

  40% {
    border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
  }

  50% {
    border-radius: 30% 70% 70% 30% / 70% 70% 30% 30%;
  }

  60% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }

  100% {
    border-radius: 70% 30% 30% 70% / 30% 30% 70% 70%;
  }
}
