@import url(@catppuccin/vitepress/theme/mocha/pink.css);
@import url(./component.css);

/**
 * Colors: Brand
 *
 * - 枫叶红：#C21F30
 * - 覆盆子红：#AC1F18
 * - 胭脂红：#9D2933
 * -------------------------------------------------------------------------- */
:root {
  --vp-c-brand-1: #C21F30;
  --vp-c-brand-2: #AC1F18;
  --vp-c-brand-3: #9D2933;

  /* Background Colors */
  --vp-c-bg: #eff1f5d9;
  --vp-c-bg-alt: #e6e9efd9;
  --vp-c-bg-elv: #dce0e8d9;
  --vp-c-bg-soft: #e6e9efd9;

  /* Border Colors */
  --vp-c-border: #ccd0dad9;
  --vp-c-divider: #ccd0dad9;
  --vp-c-gutter: #bcc0ccd9;
}

.dark {
  --vp-c-brand-1: #9D2933;
  --vp-c-brand-2: #AC1F18;
  --vp-c-brand-3: #C21F30;

  /* Background Colors */
  --vp-c-bg: #1e1e2ed9;
  --vp-c-bg-alt: #181825d9;
  --vp-c-bg-elv: #11111bd9;
  --vp-c-bg-soft: #181825d9;

  /* Border Colors */
  --vp-c-border: #313244d9;
  --vp-c-divider: #313244d9;
  --vp-c-gutter: #45475ad9;
}

/**
 * Element: a
 * -------------------------------------------------------------------------- */

.vp-doc a {
  text-underline-offset: 0.25em;
}

/**
 * Element: details
 * -------------------------------------------------------------------------- */

.vp-doc details {
  padding: 16px;
  background-color: var(--vp-c-bg-alt);
  border-radius: 8px;

  summary {
    margin-block: 0px;
  }

  div[class*='language-'] {
    margin-bottom: 0px;
    background-color: transparent;
  }
}

/**
 * Pseudo Element: Selection
 * -------------------------------------------------------------------------- */

:root {
  ::selection {
    background-color: var(--vp-c-red-soft);
  }
}

.dark {
  ::selection {
    background-color: var(--vp-c-red-soft);
  }
}
