# vitepress compiled output
docs/.vitepress/cache
docs/.vitepress/dist
docs/.vitepress/temp

# environment variables
docs/.env
docs/.env.*

# system files
.DS_Store
Thumbs.db
*.swp

node_modules
playground
