# vitepress compiled output
docs/.vitepress/cache
docs/.vitepress/dist
docs/.vitepress/temp
docs/auto-imports.d.ts

# environment variables
docs/.env
docs/.env.*

# system files
.DS_Store
Thumbs.db
*.swp

# dependencies
package-lock.json
node_modules
playground
