.list-move,
.list-enter-active,
.list-leave-active {
  transition: opacity 0.5s, transform 0.5s var(--timing-1);
}

.list-leave-active {
  position: absolute;
}

.list-enter-from {
  opacity: 1;
  transform: translateY(30px);
}

.list-leave-to {
  opacity: 0;
  transform: translateY(0px);
}
