.dark {
  --c-rosewater: #f5e0dc;
  --c-flamingo: #f2cdcd;
  --c-pink: #f5c2e7;
  --c-mauve: #cba6f7;
  --c-red: #d81e06;
  --c-maroon: #eba0ac;
  --c-peach: #fab387;
  --c-yellow: #f9e2af;
  --c-green: #a6e3a1;
  --c-teal: #94e2d5;
  --c-sky: #89dceb;
  --c-sapphire: #74c7ec;
  --c-blue: #89b4fa;
  --c-lavender: #b4befe;

  --c-text: #4c4f69;
  --c-subtext-1: #5c5f77;
  --c-subtext-0: #6c6f85;
  --c-overlay-2: #9399b2;
  --c-overlay-1: #7f849c;
  --c-overlay-0: #6c7086;
  --c-surface-2: #585b70;
  --c-surface-1: #45475a;
  --c-surface-0: #313244;
  --c-base: #1e1e2e;
  --c-mantle: #181825;
  --c-crust: #11111b;
}
